<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <application
        android:allowBackup="false"
        android:label="Device Policy Controller"
        android:supportsRtl="true"
        android:theme="@style/Theme.DevicePolicyController">
        <receiver
            android:name=".PolicyAdminReceiver"
            android:description="@string/device_admin_description"
            android:exported="true"
            android:label="@string/app_name"
            android:permission="android.permission.BIND_DEVICE_ADMIN">
            <meta-data
                android:name="android.app.device_admin"
                android:resource="@xml/device_admin" />
            <intent-filter>
                <action android:name="android.app.action.DEVICE_ADMIN_ENABLED" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".ApprovedApkInstallReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="com.example.devicepolicycontroller.REQUEST_APPROVED_APK_INSTALL" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".InstallStatusReceiver"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>
